<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title%}{% endblock title%}
    </title>
</head>
<body>
    <header>
        <div>
            <a href="{% url 'todo_list_list' %}">Main</a>
        </div>
    </header>
    {% block content %} {% endblock content %}
</body>
</html>
